<div class="help_box">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag '/assets/新規投稿.jpg', class: 'help1' %></div>
</label>
</div>

<h3>新規投稿</h3>
<%= render partial: "form" %>