<div class="help_box4">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag '/assets/新規投稿.jpg', class: 'help1' %></div>
</label>
</div>

  <div class="title">
    <h2>新規投稿</h2>
  </div>
<%= render partial: "form" %>